@use "partial";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Regula";
}


body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: partial.$bg;
}

header {
  position: sticky;
  top: 0;
  height: 95px;
  z-index: 100000;
}


@media screen and (min-width: 0px) and (max-width: 770px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    border: 5px solid partial.$darkerBlue;
    background-color: partial.$bg;
    width: 100%;

    img:first-of-type {
      justify-self: left;
      padding: 30px 5px 0 15px;

    }

    #logo {
      justify-self: center;
      padding: 5px;
      width: 100px;
    }
  }
  .articles-grid {
    .heading {
      @include partial.heading-mobile;
    }

    p {
      @include partial.p-Mobil
    }
  }
}

/*fontpage styling*/

.image-wrapper {

  max-width: 100%;
  max-height: 700px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.home-welcome-text {
  @include partial.p-Mobil;
  padding-bottom: 50px;
}

.choose-subject {
  select {
    color: partial.$textColor;
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 5px;
    border: 2px solid partial.$darkerBlue;
    background-color: partial.$bg;
    margin: 10px;
  }
}

.articles {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
  gap: 30px;
  padding-top: 10px;

  a {
    @include partial.a-hover;
    color: partial.$cta;
  }

  .blue-background {
    background-color: partial.$lightblue;

  }

  .articles-grid {
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin: 0 auto;
    width: 100%;


    img {
      width: 100%;
      padding: 20px;
    }

    .articles-image {
      max-width: 100%;
      overflow: hidden;
    }

  }

}

@media screen and (min-width: 0px) and (max-width: 770px) {
  /* sign up section*/
  .sign-up {
    background-color: partial.$darkerBlue;
    padding: 30px;

    .insider-knowledge-heading {
      @include partial.heading-mobile;
      padding: 10px;
    }

    .sign-up-text {
      @include partial.p-Mobil;
    }
  }

  .booking-formular {
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 2fr;
    gap: 10px;
    background-color: partial.$lightblue;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;

    p {
      @include partial.p-Mobil;
      padding-left: 5%;
    }

    input {
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 0 auto;
      height: 50%;
      width: 90%;
      border: none;
    }

    #start-button {
      @include partial.btn;
      margin-top: 30px;

    }

  }
/* footer styling*/
  .mobile-nav-footer {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    height: 110px;
    background-color: partial.$lightblue;
    color: partial.$textColor;
    bottom: 0;

    img {
      height: 35px;
      margin: 10px;
    }
    aside:first-of-type {
      justify-self: left;
      margin-left: 15px;
    }
    aside:last-of-type {
      justify-self: right;
      margin-right: 15px;
    }
    a {
      @include partial.a-hover;
    }
    p{
      @include partial.p-Mobil;
    }
  }
}


/*desktop version*/
@media screen and (min-width: 771px) {
  .mobile-nav {
    display: none;
  }
  body {
    max-width: 1500px;
    margin: 0 auto;
  }
  .desktop-nav {
    display: block;
    border: 5px solid partial.$darkerBlue;
    background-color: partial.$bg;
    width: 100%;

    ul {
      display: grid;
      grid-template-columns: 1fr auto auto auto auto;
      gap: 15px;
      width: 100%;
      list-style: none;
    }


    img {
      padding: 5px;
      width: 150px;
    }

    .nav {
      display: flex;
      padding-top: 40px;
    }

    a {
      font-size: 1.5rem;
      color: partial.$textColor;
      padding-right: 15px;
      @include partial.a-hover;
    }
  }

  .home-welcome-text {
    @include partial.p-desktop;
    width: 50%;
  }
  .articles {
    gap: 30px;

    .articles-grid {
      grid-template-rows: 1fr 1fr 1fr;
      gap: 10px;
      margin: 0 auto;
      width: 100%;
      padding-bottom: 30px;

      img {
        padding: 20px;
      }

      .articles-image {
        width: 60%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
      }


      .heading {
        @include partial.heading-desktop;
      }

      p {
        @include partial.p-desktop;
        max-width: 50%;
      }
    }

    .blue-background {
      background-color: partial.$lightblue;

    }
  }
}

@media screen and (min-width: 771px) {

  /* sign up section*/
  .sign-up {
    background-color: partial.$darkerBlue;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .insider-knowledge-heading {
    @include partial.p-desktop;
    font-weight: bolder;
    max-width: 50%;

  }
  .sign-up-text {
    @include partial.p-desktop;
    max-width: 50%;
  }

  .booking-formular {
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 2fr;
    gap: 10px;
    background-color: partial.$lightblue;
    width: 40%;
    margin: 0 auto;
    border-radius: 15px;

    p {
      @include partial.p-desktop;
      padding-left: 5%;
    }

    input {
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 0 auto;
      height: 50%;
      width: 90%;
      border: none;
    }

    #start-button {
      @include partial.btn;
      margin-top: 30px;

    }

  }
}



